<section class="container my-5">
    <div class="row min-vh-100 justify-content-center align-items-center align-content-center">
        <div class="col-5">
            <div class="head-color text-center">
                <h2 class="fw-bold fs-1">CONTACT SECTION</h2>
                <div class="d-flex justify-content-center align-items-center my-3">
                    <div class="w-25 d-inline-block line"></div>
                    <i class="fa-solid fa-star px-3"></i>
                    <div class="w-25 d-inline-block line"></div>
                </div>
            </div>
        </div>
        <div class="col-8 overflow-hidden">
            <div class="w-75 mx-auto my-5">
                <form>
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control border-0 border-bottom" id="floatingName" placeholder="name@example.com">
                        <label for="floatingName">User Name</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control border-0 border-bottom" id="floatingAge" placeholder="name@example.com">
                        <label for="floatingAge">User Age</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="email" class="form-control border-0 border-bottom" id="floatingEmail" placeholder="name@example.com">
                        <label for="floatingEmail">User Email</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control border-0 border-bottom" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">User Password</label>
                    </div>
                    <button type="button" class="btn text-white">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>