<nav class="navbar navbar-expand-lg fixed-top z-1">
    <div class="container m-4 mx-auto fw-bold">
      <a class="navbar-brand fs-3 text-white" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mx-1">
            <a class="nav-link text-white" routerLink="about" routerLinkActive="link-styles border border-0 rounded">ABOUT</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-white" routerLink="portfolio" routerLinkActive="link-styles border border-0 rounded">PORTFOLIO</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-white" routerLink="contact" routerLinkActive="link-styles border border-0 rounded">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>