<footer class="footer overflow-hidden">
    <div class="footer-content container py-5 my-5">
        <div class="row row-cols-3 text-white">
            <div class="item text-center">
                <h4>LOCATION</h4>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="item text-center">
                <h4>AROUND THE WEB</h4>
                <div class="row justify-content-center">
                    <div class="border border-1 rounded-circle col-1 mx-1 py-1">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="border border-1 rounded-circle col-1 mx-1 py-1">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="border border-1 rounded-circle col-1 mx-1 py-1">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <div class="border border-1 rounded-circle col-1 mx-1 py-1">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                </div>
            </div>
            <div class="item text-center">
                <h4>ABOUT FREELANCER</h4>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="footer-info text-white text-center py-4">
        <p class="mb-0">Copyright © Your Website 2021</p>
    </div>
</footer>